#main {
  position: absolute;
  top: 10%;
  left: 15%;
}
#row {
  margin-right: 150px;
}
h2 {
    margin-left: 600px;
}
.row1 {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin: 3px;
}
p{
    margin-left: 10px;
    margin-right: 100px;
    display: block;
    text-align: justify
    ;
   
}

h3 {
  margin-left: 10px;
  color: #29c4cc;
}