#main{
    position: absolute;
    top: 30%;
    left: 15%;
}
#row {
    display: flex;

}
.row1 {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 3px;
    animation-name: zoom;
    animation-duration: 0.6s;
    from {transform:scale(0)}
    to {transform:scale(1)}
}